In [1]:
# 6.5.2  Heatmaps with Google API key

# For a basic heatmap all we need to provide is alt and long for 
# locations and a measurement value for each lat and long in the 
# form of an array that have the same number of items in each array

# Import dependancies

import pandas as pd
import gmaps
import requests

# Import API key

from config import g_key

In [2]:
# store the CSV file that was saved in aprt one into a DF

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Iqaluit,CA,2022-08-11 18:24:34,63.7506,-68.5145,51.53,71,75,5.75
1,1,Atuona,PF,2022-08-11 18:19:58,-9.8000,-139.0333,76.84,74,32,26.13
2,2,Sembakung,ID,2022-08-11 18:24:35,3.8167,117.2500,72.70,99,96,1.70
3,3,Dwarka,IN,2022-08-11 18:24:35,22.2394,68.9678,81.77,88,100,4.79
4,4,Da Nang,VN,2022-08-11 18:24:29,16.0678,108.2208,80.58,89,20,0.00

In [3]:
# get the cities data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Max temperature heatmap
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and 
# add the temperatures that are greater than 0 Â°F to a new list.

# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#    temps.append(max(temp, 0))
    
# instead of a for loop, we can use listcomprehension to accomplish the same
# thing within the heatmap_layer function.  So do not need this cell any longer.

In [6]:
# create the heatmat:  General syntax is as follows
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
# adjust line above to zoom and add the geographical center of the earth
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# There is a disappation also, default is true, also can add max_intensity and point_radius
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

# print(len(max_temp))
# print(len(locations))
# print(heat_layer)

Figure(layout=FigureLayout(height='420px'))

In [7]:
# 6.5.2 Heatmap of percent humidity

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 6.5.3 user input for min and max temps

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# conditional data frame

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2022-08-11 18:19:58,-9.8000,-139.0333,76.84,74,32,26.13
3,3,Dwarka,IN,2022-08-11 18:24:35,22.2394,68.9678,81.77,88,100,4.79
4,4,Da Nang,VN,2022-08-11 18:24:29,16.0678,108.2208,80.58,89,20,0.00
5,5,Caravelas,BR,2022-08-11 18:23:54,-17.7125,-39.2481,77.76,58,96,9.98
7,7,Vila Velha,BR,2022-08-11 18:24:38,-20.3297,-40.2925,76.95,61,0,17.27
9,9,Kindu,CD,2022-08-11 18:24:39,-2.9500,25.9500,80.28,29,80,1.45
10,10,Nishihara,JP,2022-08-11 18:24:39,26.1842,127.7558,81.68,89,20,3.44
16,16,Jamestown,US,2022-08-11 18:20:07,42.0970,-79.2353,76.05,47,40,12.66
20,20,Portland,US,2022-08-11 18:20:48,45.5234,-122.6762,78.46,64,20,8.05
22,22,Lubao,PH,2022-08-11 18:24:45,14.9167,120.5500,80.31,88,99,2.24

In [12]:
# check for null values

preferred_cities_df.count()

# try to keep output less than 200 for plotting purposes
# May ahve to adjust min and max temps to get enough cities
# if ther are null values use dropna() method at the end of the filtering statement when creating the new DF

City_ID       216
City          216
Country       216
Date          216
Lat           216
Lng           216
Max Temp      216
Humidity      216
Cloudiness    216
Wind Speed    216
dtype: int64

In [13]:
# 6.5.4 create travel detinations

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Atuona      PF     76.84  -9.8000 -139.0333
3       Dwarka      IN     81.77  22.2394   68.9678
4      Da Nang      VN     80.58  16.0678  108.2208
5    Caravelas      BR     77.76 -17.7125  -39.2481
7   Vila Velha      BR     76.95 -20.3297  -40.2925
9        Kindu      CD     80.28  -2.9500   25.9500
10   Nishihara      JP     81.68  26.1842  127.7558
16   Jamestown      US     76.05  42.0970  -79.2353
20    Portland      US     78.46  45.5234 -122.6762
22       Lubao      PH     80.31  14.9167  120.5500

In [14]:
# use Google places nearby search request to retrieve hotels to add to the column name
# This request lets us perform 1.) search for places within a specified area, 2.) refine
# the search using keywords and specifying the type of place we are searching for and 3.) 
# Use an API URL, where the output can be either XML or JSON format.
# documentation states there must be specfic parameters (key, location, radius, rankby = distance)
# optional parameters include( keyword, language, minprice, maxprice, name, opennow, rankby(prominence(is default) 
# or distance(from specified location)), type, pagetoken)  To find support types, click on list of 
# support types in teh optional parameters list or nacigate to the Places Types Guide

# 1. set parameters for the search

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# to retrieve the names of the hotels in the DF we need to iterate through the DF

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
    # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found . . . skipping.")
hotel_df.head(10)

Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,76.84,-9.8000,-139.0333,HÃ´tel Hiva Oa Hanakee Lodge
3,Dwarka,IN,81.77,22.2394,68.9678,Hotel Narayan Avezika Comfort
4,Da Nang,VN,80.58,16.0678,108.2208,Grand Mercure Danang
5,Caravelas,BR,77.76,-17.7125,-39.2481,Pousada dos Navegantes
7,Vila Velha,BR,76.95,-20.3297,-40.2925,Hotel VitÃ³ria Palace
9,Kindu,CD,80.28,-2.9500,25.9500,RÃ©sidence Okanda
10,Nishihara,JP,81.68,26.1842,127.7558,Minshuku Agaihama
16,Jamestown,US,76.05,42.0970,-79.2353,Hampton Inn & Suites Jamestown
20,Portland,US,78.46,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
22,Lubao,PH,80.31,14.9167,120.5500,Hacienda Gracia

In [15]:
# create a max temp heat map from the hotel DF

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """

# This is a new code block, so let's review its form and function.

# First, the info_box_template variable is assigned to a multiline string using 
# three quotes. The text inside the multiline string is HTML code. HTML code is 
# defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 
# Angular brackets always come in pairs. The opening angular bracket is followed by
# some text inside, such as dl, dt, and dd. The closing angular bracket is preceded 
# by a forward-slash ("/"). The text inside with the angular brackets is called a tag. 
# We'll see more examples of HTML code in an upcoming module.

# Here's what these tags mean:

# The <dl> tag is a description list (dl).
# The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
# The <dd> tag is used to define the term or name or <dt> tag.
# If we were to write out these tags on paper, it would look like this.

# Description List: <dl>
# Description Term: <dt>
# Description Definition: <dd>
# Description Term: <dt>
# Description Definition: <dd>

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Let's review what we're doing with this code.

# We set the hotel_info equal to the info_box_content.
# In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(),
# we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with 
# the data we set to populate the from each row. Remember, we are not using every row; we are only 
# using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))