## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
#city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df = pd.read_csv("C:/Users/butte/Classwork/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Challans,FR,46.8436,-1.8749,71.80,76,82,17.18,broken clouds
1,1,Victoria,HK,22.2855,114.1577,84.38,86,96,5.99,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,73.76,75,54,18.63,light rain
3,3,Lasa,IT,46.6166,10.7002,63.48,92,73,3.40,broken clouds
4,4,Sur,OM,22.5667,59.5289,90.84,57,99,15.50,overcast clouds

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Challans,FR,46.8436,-1.8749,71.80,76,82,17.18,broken clouds
1,1,Victoria,HK,22.2855,114.1577,84.38,86,96,5.99,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,73.76,75,54,18.63,light rain
5,5,Thompson,CA,55.7435,-97.8558,71.76,68,75,13.80,broken clouds
7,7,Puerto Ayora,EC,-0.7393,-90.3518,75.16,89,97,5.01,overcast clouds
8,8,Bubaque,GW,11.2833,-15.8333,80.40,79,41,17.90,scattered clouds
12,12,Cockburn Town,TC,21.4612,-71.1419,82.85,79,58,14.99,broken clouds
17,17,Ribeira Grande,PT,38.5167,-28.7000,73.80,60,75,4.61,broken clouds
21,21,Georgetown,MY,5.4112,100.3354,80.89,80,20,3.44,few clouds
23,23,Kieta,PG,-6.2167,155.6333,77.41,84,92,5.88,light rain

In [28]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                284
City                   284
Country                284
Lat                    284
Lng                    284
Max Temp               284
Humidity               284
Cloudiness             284
Wind Speed             284
Current Description    284
dtype: int64

In [29]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Challans,FR,71.80,broken clouds,46.8436,-1.8749,
1,Victoria,HK,84.38,overcast clouds,22.2855,114.1577,
2,Rikitea,PF,73.76,light rain,-23.1203,-134.9692,
5,Thompson,CA,71.76,broken clouds,55.7435,-97.8558,
7,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,
8,Bubaque,GW,80.40,scattered clouds,11.2833,-15.8333,
12,Cockburn Town,TC,82.85,broken clouds,21.4612,-71.1419,
17,Ribeira Grande,PT,73.80,broken clouds,38.5167,-28.7000,
21,Georgetown,MY,80.89,few clouds,5.4112,100.3354,
23,Kieta,PG,77.41,light rain,-6.2167,155.6333,

In [31]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    try:    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.      
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found . . . skipping.")
hotel_df.head(10)

Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Challans,FR,71.80,broken clouds,46.8436,-1.8749,Citotel Le Challans
1,Victoria,HK,84.38,overcast clouds,22.2855,114.1577,Mini Central
2,Rikitea,PF,73.76,light rain,-23.1203,-134.9692,People ThankYou
5,Thompson,CA,71.76,broken clouds,55.7435,-97.8558,Burntwood Hotel
7,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Bubaque,GW,80.40,scattered clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
12,Cockburn Town,TC,82.85,broken clouds,21.4612,-71.1419,Osprey Beach Hotel
17,Ribeira Grande,PT,73.80,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
21,Georgetown,MY,80.89,few clouds,5.4112,100.3354,Cititel Penang
23,Kieta,PG,77.41,light rain,-6.2167,155.6333,Uruna Bay Retreat

In [32]:
hotel_df.count()

City                   284
Country                284
Max Temp               284
Current Description    284
Lat                    284
Lng                    284
Hotel Name             284
dtype: int64

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Challans,FR,71.80,broken clouds,46.8436,-1.8749,Citotel Le Challans
1,Victoria,HK,84.38,overcast clouds,22.2855,114.1577,Mini Central
2,Rikitea,PF,73.76,light rain,-23.1203,-134.9692,People ThankYou
5,Thompson,CA,71.76,broken clouds,55.7435,-97.8558,Burntwood Hotel
7,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Bubaque,GW,80.40,scattered clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
12,Cockburn Town,TC,82.85,broken clouds,21.4612,-71.1419,Osprey Beach Hotel
17,Ribeira Grande,PT,73.80,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
21,Georgetown,MY,80.89,few clouds,5.4112,100.3354,Cititel Penang
23,Kieta,PG,77.41,light rain,-6.2167,155.6333,Uruna Bay Retreat

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))